@import url('https://fonts.googleapis.com/css?family=Creepster&text=Shiver|Poppins:wght@300;400;500;600&family=VT323&display=swap');


:root {
  --primary: #D73F3F;
  --grey : #E5E5E5;
  --secondary: #101A33;
}
body {
  /* background: linear-gradient(179.62deg, #000000 100%, rgba(15, 14, 16, 0.95)); */
  background: #E5E5E5;
  margin:0;
  font-family:'Poppins';
  color: var(--primary);
}

header .container {
  max-width: 1400;
  margin:0 auto;
  padding:10px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background: #0F0E10;
}
header a {
  color: var(--grey);
  text-decoration:none;
}

.pages {
  max-width: 1400px;
  padding:20px;
  margin:0, auto;
}
.film-cat {
  margin:40px;
  font-family: 'Roboto';
  font-size:32px;
}

.film-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
}



.film-carrousel {
  width: fit-content;
  margin:40px;
}

.film-zoom {
  background: linear-gradient(180deg, #000000 0%, #0F0E10 100%);
}
.film-text {
  padding:20px;
}
.film-title {
  position:absolute;
  margin:0;
  color : var(--grey);
  font-size:32px;
}

.film-synopsis {
  text-align: center;
  padding: 10px;
  width: 250px;
}

.film-button {
  text-align: center;
}
.zoom-details {
  display: flex;
  justify-content: space-between;
  font-size:12px;

}

.film-synopsis {
  text-align: center;
}
.film-link  {
  background:none;
  margin: 35%;
  text-decoration: none;
  color: var(--grey)
}
.film-link:hover {
  color: var(--primary);  
  background-color: var(--grey);
  border-radius:2px;
}

.create {
  display: grid;
  margin:10px;
  padding:10px;
  width: fit-content;
  margin-left: 400px;
  
}
.create__button{
  margin-top: 30px;
  border-radius: 4px;
  border: none;
  background-color: var(--primary);
  color:white;
}
.create__button:hover {
  background-color:white;
  color: var(--primary)
}